/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0px;
}

header,
footer {
    width: 100%;
    padding: 10px;
    background: #c52f24;
    color: #fff;
    margin: 0px;
}

.main-container {
    margin: 50px 15px;
}

table {
    border-collapse: collapse;

}

table,
td,
th {
    border: 1px #000 solid;
    text-align: center;
}

th,
td {
    padding: 10px 20px;
}

table td {
    background-color: #f1c8c861;
}

table th {
    background-color: #ffdfdf;

}

input {
    width: 100%;
    font-size: 16px;
}

input[type=submit] {
    width: auto;
}

.index-table {
    width: 100%;
    max-width: 1050px;
}



.posts-content {
    width: 350px;
    height: 200px;
    font-size: 16px;
}